.container{
    font-family: '標楷體';
    /* font-size: 14px; */
    /* width: 100%; */
}

td{
    text-align: center;
}

input{
    margin: 3px;
    border-color: #A20055;
}

.tiny-input-size{
    width: 30px;
}

.small-input-size{
    width: 40px;
}

.median-input-size{
    width: 80px;
}

.large-input-size{
    width: 70%;
}

.larger-input-size{
    width: 90%;
}

/* .house-type{
    width: 50px;
} */

table{
    width: 1400px;
    /* width: 100%; */
}

/* .building-material{
    text-align: left;
} */

/* .align-left{
    text-align: left;
} */

.select-menu{
    width: 50%;
}

.tiny-select-menu{
    width: 35%;
}

.median-select-menu{
    width: 80%;
}

.table-container,
.daughter-wall-container{
    margin: auto;
    text-align: left;
}

.table-container{
    width: 80%;
}

.daughter-wall-container{
    width: 63%;
}

.vertical-td{
    width: 2%;
}

.input-align{
    margin-bottom: 22px;
}

.input-align-top{
    margin-top: 22px;
}

.input-align-top > div{
    margin-top: 8px;
}

.required{
    color: red;
    font-weight: bold;
}

select{
    height: 22px;
}

.input-select-align{
    margin-bottom: 24px;
}

.input-select-align-top{
    margin-top: 6px;
}

.add_minus_wall_count{
    width: 50px;
}