<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <style media="screen">
            body{
                font-family: "標楷體";
            }
            .table-container{
                width: 1300px;
                /* border-radius: 8px; */
                /* border-style: solid; */
                text-align: center;
                margin: auto;
                padding: 5px;
            }
            /* .content-text{
                color: #CC0000;
            } */
        </style>
    </head>
    <body>
        <div class="table-container">
            <h1>桃園市XXX徵收案土地改良物價值查估<br>建築改良物調查表</h1>
            <h3>調查表編號: {$script_number}</h3>

            <table border="3" style="border-collapse:collapse" class="table-container">
                <tr>
                    <td>地上物<br>所有人姓名</td>
                    <td>{$owner}</td>
                    <td>身分證字號<br>統一編號</td>
                    <td>{$pId}</td>
                    <td>住址</td>
                    <td>{$address}</td>
                    <td>聯絡<br>電話</td>
                    <td>{$phone}</td>
                    <td>建築物<br>合法性</td>
                    <td colspan="2">{$legal_status}</td>
                </tr>

                <tr>
                    <td>土地<br>所有人姓名</td>
                    <td></td>
                    <td>身分證字號<br>統一編號</td>
                    <td></td>
                    <td>住址</td>
                    <td></td>
                    <td>聯絡<br>電話</td>
                    <td></td>
                    <td>合法文件</td>
                    <td colspan="2">{$legal_certificate}</td>
                </tr>

                <tr>
                    <td>房屋座落</td>
                    <td colspan="3">{$house_address}</td>
                    <td>建號<br>稅籍編號</td>
                    <td>{$legal_number}</td>
                    <td>座落土地<br>使用權屬</td>
                    <td>{$land_use}</td>
                    <td>租賃關係</td>
                    <td colspan="2">{$rent_relation}</td>
                </tr>

                <tr>
                    <td>基地標示</td>
                    <!-- <td colspan="7">桃園市、中壢區、後興段，874，標示面積 2733 m<sup>2</sup></td> -->
                    <td colspan="7">{$location}</td>
                    <td>房屋拆除情形</td>
                    <td colspan="2">{$remove_condition}</td>
                </tr>

                <tr>
                    <td rowspan="{$captain_count}">現住戶</td>
                    <td>戶長姓名</td>
                    <td>家屬人數</td>
                    <td>戶口名簿號碼</td>
                    <td>設籍日期</td>
                    <td>人口遷移費總計(元)</td>

                    <td>戶長姓名</td>
                    <td>家屬人數</td>
                    <td>戶口名簿號碼</td>
                    <td>設籍日期</td>
                    <td>人口遷移費總計(元)</td>
                </tr>

                <!-- {for $i=0 to {$captain|@count}/2-1}
                <tr>
                    {for $j=$i to $i+1}
                        {if $j%2==0}
                            <td>{$captain.$j.name}</td>
                            <td>{$captain.$j.family_num}</td>
                            <td>{$captain.$j.household_number}</td>
                            <td>{$captain.$j.set_household_date}</td>
                            <td></td>
                        {/if}

                        {if $j%2==1}
                            <td>{$captain.$j.name}</td>
                            <td>{$captain.$j.family_num}</td>
                            <td>{$captain.$j.household_number}</td>
                            <td>{$captain.$j.set_household_date}</td>
                            <td></td>
                        {/if}
                    {/for}
                </tr>
                {/for} -->

                <tr>
                    <td>總人口數</td>
                    <td>{$total_people}</td>
                    <td>人口遷移費總計(元)</td>
                    <td></td>
                </tr>
            </table>
            <br>
            <table border="3" style="border-collapse:collapse" class="table-container">
                <tr>
                    <td rowspan="2">編號/項目</td>
                    <td colspan="3">房屋構造</td>
                    <td colspan="4">單位面積評點數</td>
                    <td rowspan="2">評點房屋<br>面積/長度</td>
                    <td rowspan="2">房屋補償價格<br>(元)</td>
                    <td rowspan="2">補償類型</td>
                    <td rowspan="2">建築改良物<br>拆遷救濟金</td>
                    <td rowspan="2">自動拆遷<br>獎勵金</td>
                    <td rowspan="2">備註</td>
                </tr>

                <tr>
                    <td>建築物主要構造及類別</td>
                    <td>層別/<br>總樓層</td>
                    <td>用途</td>
                    <td>點/m<sup>2</sup></td>
                    <td>門面整修<br>評點</td>
                    <td>合計點數</td>
                    <td>元/點</td>
                </tr>

                {foreach from=$main_building key=i item=result}
                <tr>
                    <td>{$i+1}</td>
                    <td>{$result.material}</td>
                    <td>{$i+1}/{$main_building|@count}</td>
                    <td>{$result.usage}</td>
                    <td>{$result.points}</td>
                    <td></td>
                    <td></td>
                    <td>123</td>
                    <td>{$result.floor_area}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {/foreach}

                <tr>
                    <td>小計</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <h4>調查日期: {$date}</h4>
            <h4>調查單位: 鼎盛不動產估價師事務所</h4>
            <!-- <h4>女兒牆: {$daughter_wall}</h4> -->
            <button type="button" name="">返回修改</button>
            <button type="button" name="">確定儲存</button>
        </div>
    </body>
</html>
