<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>線上查估系統</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </head>
    <body>
        <div class="container" align="center">
            <form class="" action="saveData.php" method="post">
                <h1>雜項設施</h1>
                <h3>(若無雜項可直接儲存略過)</h3>
                <table border="1">
                    <tr>
                        <td>項目</td>
                        <td>面積/數量</td>
                        <td>是否自拆</td>
                    </tr>

                    <tr>
                        <td>
                            <div id="other-item" class="input-align-top">
                                <div id="other-item-1">
                                    <select class="small-select-menu" id="other-item-category-1" name="other-item-category-1" onclick="getSubbuildingCategory(1);this.onclick=null;" onchange="getSubbuildingOption(1)">
                                        <option value="" style="display:none;">請選擇種類</option>
                                    </select>

                                    <select class="select-menu" id="other-item-option-1" name="other-item-1">
                                        <option value="" style="display:none;">請選擇項目</option>
                                    </select>

                                    <select class="small-select-menu" name="other-item-type-1">
                                        <option value="" style="display:none;">請選擇室內外</option>
                                        <option value="室內">室內</option>
                                        <option value="室外">室外</option>
                                    </select>
                                </div>
                            </div>
                            <input type="hidden" id="other-item-count" name="other-item-count">
                            <button type="button" onclick="addInfoItemOnclick('other-item')">+</button>
                            <button type="button" onclick="removeInfoItemOnclick('other-item')">-</button>
                        </td>
                        <td>
                            <div id="calArea">
                                <div id="calArea-1">
                                    <input type="text" name="calArea-1" class="larger-input-size" placeholder="請輸入面積計算式或數量" title="請輸入面積計算式或數量">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div id="auto-remove">
                                <div id="auto-remove-1">
                                    <input type="radio" name="auto-remove-1" value="是">是<input type="radio" name="auto-remove-1" value="否">否
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- <input type="button" value="回前一頁" onclick="window.history.back();"> -->
                <input type="hidden" name="house_address" value="建國二路100號">
                <input type="hidden" name="script_number" value="建合-001">
                <input type="submit" value="儲存">
            </form>
        </div>
    </body>
</html>
